DATABASE_URL="postgresql://user:pass@localhost:port/database?schema=public"

JWT_SECRET="my-jwt-secret"

GIT_OAUTH_CLIENT_ID="your-client-id"
GIT_OAUTH_CLIENT_SECRET="your-client-secret"
GIT_OAUTH_CLIENT_REDIRECT_URI="http://localhost:3000/api/auth/callback"